<div class="container-alba">
  <h1>Список событий</h1>
</div>
<div id="events">
  <%= render 'title' %>
  <%= calendar @date do |date_my|%>
      <%= date_my.day%>
      <% if @events_by_date_my[date_my]  %>
          <ul>
            <% @events_by_date_my[date_my].each do |event| %>
                <li><%= link_to event.name, event  %></li>
            <%end%>
          </ul>
      <%end%>
  <%end%>
</div>
<%= link_to 'Новое событие', new_event_path,:class => 'btn btn-primary' %>
