<div class="container-alba"><p id="notice"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Описание события:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Дата:</strong>
  <%= @event.date_rem %>
</p>
<p>
  <strong>Автор:</strong>
  <%= @event.user.first_name + " "+ @event.user.last_name %>
</p>
  <p>
    <strong>Статус:</strong>
    <%if (@event.private) %>
      <p>Приватный</p>
      <%else%>
      <p>Публичный</p>
    <%end%>
  </p>

<% if (@event.private) %>
<%= link_to 'Редактировать', edit_event_path(@event) ,class: 'form-control input-lg'%>
      <%= link_to 'Назад', my_events_path,class: 'form-control input-lg' %>
  <%elsif (!@event.private &&@event.user.email.eql?(current_user.email))%>
      <%= link_to 'Редактировать', edit_event_path(@event), class: 'form-control input-lg' %>
      <%= link_to 'Назад', events_path,class: 'form-control input-lg' %>

<%else%>

      <%= link_to 'Назад', events_path,class: 'form-control input-lg' %>
<%end%>


</div>