<div class="navbar navbar-fixed-top navbar-inverse " role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Calendar Albatros", root_path, id: "logo"%>
          <nav>
            <ul class="nav navbar navbar-left">
            <li><%=link_to "Главная", root_path%></li>
            <li><%=link_to "События", '#'%></li>
            <li><%=link_to "Мои события", '#'%><li>
             </ul>


            <ul class="nav navbar navbar-right">
             <button type="button" class="btn btn-primary"><%=link_to "Войти", '#'%></button>
              <button type="button" class="btn btn-primary"><%=link_to "Регистрация", '#'%></button>

            </ul>
          </nav>

    </div>


  </div>



</div>